## The popular plotting libraries for Data visualization

===================================================================================================
- $\textbf{Cấp 1: Matplotlib & pandas.}$ Dùng để vẽ các dữ liệu một cách tự do với hơi hướng xử lý đơn giản
- $\textbf{Cấp 2: Seaborn.}$ Dùng khi xử lý các yêu cầu phức tạp hơn; với giao diện kết quả sắc nét hơn
- $\textbf{Cấp 3: ggplot & ploty.}$ Có thể tạo ra những hình vẽ có tính tương tác tốt (interactive plots)

Dưới đây là các chuyên đề và BT tương ứng của phần "Data visualization" này.

===================================================================================================

===================================================================================================
# Topic 1. Line Charts
===================================================================================================

===================================================================================================
$\textbf{Target 1. }\textit{Answer the following question}$

Từ dữ liệu "Museums_and_Galleries_monthly_visits_April_to_June.csv"; hãy thực hiện lần lượt các yêu cầu sau

- 1) Loading dataset and display the first 5 rows

- 2) Extract the sub-dataframe which have the number of visitors more than 750000

- 3) How many visitors did the "NATIONAL GALLERY"

- 4) In October 2018, how many more visitors did "(RA) FORT NELSON"? 

- 5) Does "NATIONAL MUSEUMS LIVERPOOL" receive more visitors than the "TATE LIVERPOOL" in 2018? 

===================================================================================================

In [ ]:
# your code here

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
data = pd.read_excel('./dataset/Museums_and_Galleries_monthly_visits_April_to_June.xlsx',sheet_name='Sheet1',index_col=0)
data.head()

                  museum  year  month  visits
0  TOTAL VISITOR FIGURES  2004  4      0
1  TOTAL VISITOR FIGURES  2004  5      0
2  TOTAL VISITOR FIGURES  2004  6      0
3  TOTAL VISITOR FIGURES  2004  7      0
4  TOTAL VISITOR FIGURES  2004  8      0

In [89]:
visited = data.groupby('museum').agg({'visits': "sum"})
visited.head()

                            visits
museum
(IWM) CHURCHILL WAR ROOMS  1229649
(IWM) DUXFORD              1227263
(IWM) HMS BELFAST          826301
(IWM) LONDON               2686720
(IWM) NORTH                847654

In [39]:
top = visited[visited['visits']>750000]
top

                                                     visits
museum
(IWM) CHURCHILL WAR ROOMS                         1229649
(IWM) DUXFORD                                     1227263
(IWM) HMS BELFAST                                 826301
(IWM) LONDON                                      2686720
(IWM) NORTH                                       847654
(NHM) SOUTH KENSINGTON                            13583304
(RA) WHITE TOWER (BASED AT THE TOWER OF LONDON)   2763626
(SMG) MUSEUM OF SCIENCE AND INDUSTRY, MANCHESTER  1130082
(SMG) NATIONAL MEDIA MUSEUM                       1657280
(SMG) NATIONAL RAILWAY MUSEUM                     2354782
(SMG) SOUTH KENSINGTON                            8832974
(T&W) DISCOVERY                                   955069
(V&A) MUSEUM OF CHILDHOOD, BETHNAL GREEN          1121443
(V&A) SOUTH KENSINGTON                            8778743
BRITISH MUSEUM                                    17721794
HORNIMAN MUSEUM (Excluding visits to the Garden)  1837205
IMPERIAL WAR MUSEUM (IWM) TOTAL                   6817881
NATIONAL GALLERY                                  15913093
NATIONAL MUSEUMS LIVERPOOL                        8084105
NATIONAL PORTRAIT GALLERY                         5532333
NATURAL HISTORY MUSEUM (NHM) TOTAL                13988049
ROYAL ARMOURIES (RA) TOTAL                        3784785
ROYAL MUSEUMS GREENWICH                           6540638
SCIENCE MUSEUM GROUP (SMG) TOTAL                  14531582
TATE BRITAIN                                      4543954
TATE GALLERIES TOTAL                              22706794
TATE LIVERPOOL                                    1954384
TATE MODERN                                       15541434
TOTAL VISITOR FIGURES                             104340438
TYNE & WEAR TOTAL                                 3750335
VICTORIA AND ALBERT MUSUEM (V&A) TOTAL            10021955
WALLACE COLLECTION                                1137819

In [73]:
visited.loc['NATIONAL GALLERY']

visits    15913093
Name: NATIONAL GALLERY, dtype: int64

In [79]:
October_2018 = data.groupby('year').get_group(2018).groupby('month').get_group(10).groupby('museum').agg({'visits': "sum"})

In [81]:
FORT_NELSON_October_2018 = October_2018.loc['(RA) FORT NELSON']

In [82]:
FORT_NELSON_October_2018

visits    1588
Name: (RA) FORT NELSON, dtype: int64

In [84]:
_2018 = data.groupby('year').get_group(2018).groupby('museum').agg({'visits': "sum"})

In [86]:
NATIONAL_MUSEUMS_LIVERPOOL_2018 = _2018.loc['NATIONAL MUSEUMS LIVERPOOL']
NATIONAL_MUSEUMS_LIVERPOOL_2018

visits    822821
Name: NATIONAL MUSEUMS LIVERPOOL, dtype: int64

In [88]:
TATE_LIVERPOOL_2018 = _2018.loc['TATE LIVERPOOL']
TATE_LIVERPOOL_2018

visits    141437
Name: TATE LIVERPOOL, dtype: int64

`"NATIONAL MUSEUMS LIVERPOOL" receive more visitors than the "TATE LIVERPOOL" in 2018`

===================================================================================================

$\textbf{Target 2. }$ The _"(IWM) LONDON"_  claims they ran an event in 2014 that brought an incredible number of visitors, and that they should get extra budget to run a similar event again. The other local museums think these types of events aren't that important, and budgets should be split purely based on recent visitors on an average day.

Hint:

- 1) Suppose that the local museum here contains the word 'LONDON'

- 2) To show the museum board how the event compared to regular traffic at each museum, create a line chart that shows how the number of visitors to each museum evolved over time (until 2014).

===================================================================================================

In [ ]:
# your code here

===================================================================================================

$\textbf{Target 3.}$
When meeting with the employees at _"TATE ST IVES"_, you hear that one major pain point is that the number of museum visitors varies greatly with the seasons, with low seasons (when the employees are perfectly staffed and happy) and also high seasons (when the employees are understaffed and stressed). You realize that if you can predict these high and low seasons, you can plan ahead to hire some additional seasonal employees to help out with the extra work.

__Step 1.__ _Create a line chart that shows how the number of visitors to Avila Adobe has evolved over time_. 


__Step 2.__ _Does "TATE ST IVES" get more visitors:_ Using this information, when should the museum staff additional seasonal employees?

===================================================================================================

===================================================================================================

# Topic 2.  Bar Charts

===================================================================================================

### Scenario

You've recently decided to create your very own video game!  As an avid reader of [IGN Game Reviews](https://www.ign.com/reviews/games), you hear about all of the most recent game releases, along with the ranking they've received from experts, ranging from 0 (_Disaster_) to 10 (_Masterpiece_).

===================================================================================================
#### Viewing dataset

===================================================================================================

$\textbf{Target 1.}$ _Answers these following questions :_

- 1) Using ign_scores.csv for this target

- 1) What is the highest average score received by PC games?

- 2) On the "PlayStation Vita" platform, which genre has the lowest average score?

===================================================================================================

===================================================================================================

$\textbf{Target 2.}$ Since you can remember, your favorite video game has been [**Mario Kart Wii**](https://www.ign.com/games/mario-kart-wii), a racing game released for the Wii platform in 2008.  And, IGN agrees with you that it is a great game -- their rating for this game is a whopping 8.9!  Inspired by the success of this game, you're considering creating your very own racing game for the Wii platform.
#### Step 1.
Create a bar chart that shows the average score for **racing** games, for each platform.  Your chart should have one bar for each platform.

#### Step 2.
Based on the bar chart, do you expect a __racing__ game for the **Wii** platform to receive a high rating?  If not, what gaming platform seems to be the best alternative?

===================================================================================================

__Nhận xét.__
- 1) Xét về mặt _"Racing"_; các game trên _"Wii"_ còn rất yếu 
- 2) Các game trên _"Xbox One"_ được đánh giá tính _"racing"_ cao hơn cả.

===================================================================================================

__Target 3.__ Eventually, you decide against creating a racing game for Wii, but you're still committed to creating your own video game!  Since your gaming interests are pretty broad (_... you generally love most video games_), you decide to use the IGN data to inform your new choice of genre and platform.

#### Step 1.
Use the data to create a heatmap of average score by genre and platform.  

#### Step 2.
Which combination of genre and platform receives the highest average ratings?  Which combination receives the lowest average rankings?

===================================================================================================

# Topic 3. Inferences in Pie & count charts
__Renaming then Viewing data set.__

__Target 1.__ _Using pie and count charts_ 

Using Car data for this topic

Describe the fuel economy of vehicles from different areas: U.S., Japan and E.U,

__Target 2.__ _Using boxplot_
and explain the diagrams

# Topic 4. Histogram
We have 2 dataset in this Section: The data file corresponding to benign tumors into a DataFrame called cancer_b_data; while another is corresponding to malignant tumors.

In [1]:
# Read and show Cancer_b dataset

In [2]:
# Read and show Cancer_m dataset

1) The data for benign tumors, what is the largest value for 'Perimeter (mean)'?

2) What is the value for 'Radius (mean)' for the tumor with Id 842517

### Investigating differences
Step 1. Create 2 histograms that show the distribution in values for `'Area (mean)'` for both benign and malignant tumors

Step 2. A researcher approaches you for help with identifying how the `'Area (mean)'` column can be used to understand the difference between benign and malignant tumors.  Based on the histograms above, 
- Do malignant tumors have higher or lower values for `'Area (mean)'` (relative to benign tumors), on average?
- Which tumor type seems to have a larger range of potential values?

### Problem. A very useful column 
#### Step 1.

Create two KDE plots that show the distribution in values for `'Radius (worst)'` for both benign and malignant tumors.  (_To permit easy comparison, create a single figure containing both KDE plots in the code cell below._)

#### Step 2.

A hospital has recently started using an algorithm that can diagnose tumors with high accuracy.  Given a tumor with a value for `'Radius (worst)'` of 25, do you think the algorithm is more likely to classify the tumor as benign or malignant?

# Topic 5. Scatter plot & regression line
##### Review the data

In [3]:
# # read and show candy dataset

_The dataset contains 83 rows, where each corresponds to a different candy bar. There are 13 columns:_
- __'competitorname'__ contains the name of the candy bar.
- __the next 9 columns__ (from 'chocolate' to 'pluribus') describe the candy. For instance, rows with chocolate candies have "Yes" in the 'chocolate' column (and candies without chocolate have "No" in the same column).
- __'sugarpercent'__ provides some indication of the amount of sugar, where higher values signify higher sugar content.
- __'pricepercent'__ shows the price per unit, relative to the other candies in the dataset.
- __'winpercent'__ is calculated from the survey results; higher values indicate that the candy was more popular with _survey respondents_.

__Target 1.__ Answer the questions
- 1) How many columns of 'Kit Kat' received 'Yes' in the survey
- 2) Which candy was more popular with survey respondents;: 'Kit Kat' or 'Almond Joy'?
- 3) Which candy has higher sugar content: 'Twizzlers' or '3 Musketeers'?

### Target 2: The role of sugar
Do people tend to prefer candies with higher sugar content?  

#### Step1
Create a scatter plot that shows the relationship between `'sugarpercent'` (on the horizontal x-axis) and `'winpercent'` (on the vertical y-axis).  _Don't add a regression line just yet -- you'll do that in the next step!_

#### Step2
Look at the scatter plot, are candies with more sugar relatively more or less popular with the survey respondents?

- Look at the scatter plot, it is indicated a `'positively correlation'`, meaning that both variables move in the same direction together. 

- Next, the candies with more sugar (or the `'sugarpercent'`) is less popular with the survey respondents (also `'"winpercent"'`). 

- In fact, the correllation of 2 this features is equal to 0.333861.

### __Target 3 (Take a closer look)__
#### Step 1.
Add the _regression line_ to the scatter plot in a new window

#### Step2.
Explain the plot above; and what does this tell you about the candy that people tend to prefer?
Then, find the `'R2'` and `'R2adjusted'` values of this model

### __Target 4. Investigate each features__:  ___Chocolate___ 

#### Step 1

Create the same scatter plot you created above, but now with two regression lines, corresponding to (1) chocolate candies and (2) candies without chocolate.

##### Step 2. Using the regression lines, what conclusions can you draw about the effects of chocolate and price on candy popularity?

### __Target 5.__ _Everybody loves chocolate.?_

#### Step 1.
Using swarmplot(); create a categorical scatter plot to highlight the relationship between `'chocolate'` and `'winpercent'`.  Put `'chocolate'` on the (horizontal) x-axis, and `'winpercent'` on the (vertical) y-axis.

#### Step 2.

You decide to dedicate a section of your report to the fact that chocolate candies tend to be more popular than candies without chocolate.  Which plot is more appropriate to tell this story?

_=====================================================================================================================_