In [5]:
import pandas as pd
import seaborn as sns
import plotly.express as px

ModuleNotFoundError: No module named 'plotly'

In [4]:
data = pd.read_excel('./sars_final.xlsx')
data.head()

,Unnamed: 0,Date,Infected,Mortality,URL
0,0,2003-03-17,167,4,https://www.who.int/csr/sars/country/table/en/
1,1,2003-03-18,219,4,https://www.who.int/csr/sars/country/tablemarc...
2,2,2003-03-19,264,9,https://www.who.int/csr/sars/country/2003_19_0...
3,3,2003-03-20,306,10,https://www.who.int/csr/sars/country/2003_03_2...
4,4,2003-03-21,350,10,https://www.who.int/csr/sars/country/2003_03_2...

In [ ]:
sns.lineplot(x)