In [1]:
import pandas as pd
import googlemaps
from geopy.geocoders import Nominatim

In [2]:
df = pd.read_csv('./datasets/Employee_Addresses.csv')
df.head()

                                          address  employee_id
0   98 Edinburgh St, San Francisco, CA 94112, USA          206
1        237 Accacia St, Daly City, CA 94014, USA         2081
2    1835 Folsom St, San Francisco, CA 94103, USA          178
3  170 Cambridge St, San Francisco, CA 94134, USA           50
4     16 Roanoke St, San Francisco, CA 94131, USA         1863

In [3]:
len(df)

2191

In [4]:
df['langtitude'] = None
df['longtitude'] = None

In [5]:
df.head()

,address,employee_id,langtitude,longtitude
0,"98 Edinburgh St, San Francisco, CA 94112, USA",206,None,None
1,"237 Accacia St, Daly City, CA 94014, USA",2081,None,None
2,"1835 Folsom St, San Francisco, CA 94103, USA",178,None,None
3,"170 Cambridge St, San Francisco, CA 94134, USA",50,None,None
4,"16 Roanoke St, San Francisco, CA 94131, USA",1863,None,None

In [6]:
nom = Nominatim()

C:\Users\dien\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: Using Nominatim with the default "geopy/1.21.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  """Entry point for launching an IPython kernel.

In [7]:
#  build the function to get coordinate of an address
def get_coordinate(address):
    try:
        result = nom.geocode(address)
    
        lat = result.latitude
        lon = result.longitude
    
    except:
        lat = None
        lon = None
    
    return lat, lon

In [8]:
# get coordinates
for i in range(len(df)):
    address = df.iloc[i, 0]
    
    lat, lon = get_coordinate(address)
    df.iloc[i, 2] = lat
    df.iloc[i, 3] = lon
    
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [9]:
df

,address,employee_id,langtitude,longtitude
0,"98 Edinburgh St, San Francisco, CA 94112, USA",206,37.7276,-122.427
1,"237 Accacia St, Daly City, CA 94014, USA",2081,37.7044,-122.416
2,"1835 Folsom St, San Francisco, CA 94103, USA",178,37.768,-122.415
3,"170 Cambridge St, San Francisco, CA 94134, USA",50,37.7297,-122.42
4,"16 Roanoke St, San Francisco, CA 94131, USA",1863,37.7364,-122.431
...,...,...,...,...
2186,"72 Topeka Ave, San Francisco, CA 94124, USA",980,None,None
2187,"330 Oliver St, Daly City, CA 94014, USA",385,None,None
2188,"94 W View Ave, San Francisco, CA 94134, USA",692,None,None
2189,"1599 Geneva Ave, San Francisco, CA 94112, USA",1025,None,None
2190,"499 Treat Ave, San Francisco, CA 94110, USA",1782,None,None

In [1]:
df.to_csv('./datasets/Employee_Coordinates.csv', index=False)

NameError: name 'df' is not defined

In [2]:
from progress.bar import Bar
import time

bar = Bar('Processing', max=200)
for i in range(200):
    # Do some work
    bar.next()
    time.sleep(0.05)
bar.finish()